<% unless forums.blank? %>
  <table  cellpadding="0" cellspacing="0" border="0" >
    <tr class="head" align="center">
      <td colspan="2" align="left" nowrap="nowrap" width="57%">Forum</td>
      <td nowrap="nowrap" width="20%" align="left" title="Must be at least the specified rank to access forum">Rank</td>
      <td nowrap="nowrap" width="20%" align="left">Last Post</td>
      <td nowrap="nowrap" width="9%">Topics</td>
      <td nowrap="nowrap" width="9%">Posts</td>
    </tr>
    <% for forum in forums do %>
        <tr class="forum <%= cycle('even','odd') %>">
          <td colspan="2" class="odd">
            <div id="index_forum">
              <div class="item">
                <a href="<%=clan_forums_show_path(forum)%>"><%=h forum.name%></a><br />
                <span class="small"><%=h forum.description%></span>
              </div>
            </div>
          </td>
          <td><%= forum.required_rank_to_s %></td>
          <td class="even" valign="middle">
            <% unless forum.posts_count.to_i == 0 -%>
              <div class="small">
                <div class="post"><%= link_to h(forum.posts.last.title), topic_path(forum.posts.last.topic_id, {:anchor => "post#{forum.posts.last.id}"}) %></div>
                <div>by <%= link_to h(forum.posts.last.user.pretty_name), profile_path(forum.posts.last.user.login) %></div>
                <div><%=time_ago_in_words(forum.last_posted)+' ago' if forum.last_posted%></div>
              </div>
            <% end -%>
          </td>
          <td class="even" align="center" valign="middle"><%=forum.topics_count%></td>
          <td class="odd last" align="center" valign="middle"><%=forum.posts_count%></td>
        </tr>
      <% end %>
    </table>
  <% end %>