<% content_block("#{h(@spell.name)} - #{spell_header_links(@spell)}", :header => 'h1') do -%>
  <p><%= image_tag @spell.icon.url, :alt => @spell.name, :class => 'item_icon' %></p>
  <div class="clearfix">
    <div class="right">
      <table cellpadding="0" cellspacing="0" class="item_properties">
        <%= item_table_row @spell, 'level', 'Level' %>
        <% unless @spell.school.blank? -%>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="item_header">Magic School</td>
            <td class="item_data"><%= link_to(h(@spell.school.name), skill_path(@spell.school)) %></td>
          </tr>
        <% end -%>
        <%= item_table_row @spell, 'sub_type_to_s', 'Damage Type' %>
        <%= item_table_row @spell, 'spell_type_to_s', 'Spell Type' %>
        <%= item_table_row @spell, 'spell_target_to_s', 'Spell Target' %>
        <%= item_table_row @spell, 'mana', 'Mana' %>
        <%= item_table_row @spell, 'cool_down', 'Cool Down' %>
        <%= item_table_row @spell, 'time_to_cast', 'Time to Cast' %>
        <%= item_table_row @spell, 'gold', 'Gold' if @spell.gold.to_f > 0.0 %>
      </table>
    </div>
    <%= format_red_cloth(@spell.description) %>
    <%= link_to 'edit', edit_spell_path(@spell) %>
  </div>
  <div id="tabs" style="margin-top: 20px;">
    <ul>
      <% unless @reagents.blank? %>
        <li><a href="#tab-reagents">Reagents (<%= @reagents.length %>)</a></li>
      <% end -%>
      <% unless @spell.prereqs.blank? -%>
        <li><a href="#tab-prereqs">Prerequisites (<%= @spell.prereqs.length %>)</a></li>
      <% end -%>
      <% unless @sellers.blank? -%>
        <li><a href="#tab-sellers">Sellers (<%= @sellers.length %>)</a></li>
      <% end -%>
      <li><a href="#tab-topics">Threads (<%= @spell.topics_count.to_i %>)</a></li>
      <li><a href="#tab-images">Images (<%= @spell.images_count %>)</a></li>
    </ul>
    <% unless @reagents.blank? %>
      <div id="tab-reagents">
        <%= render :partial => 'spell_reagents/render_spell_reagents', :locals => {:spell_reagents => @reagents} %>
      </div>
    <% end -%>
    <% unless @spell.prereqs.blank? -%>
      <div id="tab-prereqs">
        <%= render :partial => 'prereqs/render_prereqs', :locals => {:objekt => @spell} %>
      </div>
    <% end -%>
    <% unless @sellers.blank? -%>
      <div id="tab-sellers">
        <%= render :partial => 'mobs/npc_table', :locals => {:mobs => @sellers} %>
      </div>
    <% end -%>
    <div id="tab-topics">
      <div id="forums">
        <%= render :partial => 'topics/list_topicable_topics', :locals => {:topics => @topics, :topicable => @spell} %>
      </div>
    </div>
    <div id="tab-images">
      <%= render :partial => 'images/images_tab', :locals => {:images => @images, :objekt => @spell} %>
    </div>
  </div>
<% end -%>  
<%= javascript_tag("jQuery('a.info_popup').attach(Popup);") %>
<%= javascript_tag("jQuery('#tab-images .pagination a').attach(RemoteUpdateBlindShow, {update: '#tab-images'});") %>
<%= javascript_tag "(function($){ $('#tabs').tabs(); })(jQuery);" %>