<h2>Darfall Admin</h2>
<ul>
  <li><%= link_to 'User Administration', '/admin/users' %></li>
  <li><%= link_to 'Article Categories', '/admin/category_articles' %></li>
  <li><%= link_to 'Articles', '/admin/articles' %></li>
  <li><%= link_to 'Forums', '/admin/forums' %></li>
  <li><%= link_to 'News Categories', '/admin/category_news' %></li>
  <li><%= link_to 'News', '/admin/news' %></li>
  <li><%= link_to 'Abilities', '/admin/abilities' %></li>
  <li><%= link_to 'Items', '/admin/items' %></li>
  <li><%= link_to 'Blocks', '/admin/blocks' %></li>
  <li><%= link_to 'Moderators', '/admin/moderators' %></li>
</ul>